body  {
    background:grey;
    text-align: center;
}

.tabContainer{
    width:100%;
    height: 350px;
}
.tabContainer .buttons{
    height: 15%;
}
.tabContainer .buttons button{
    width: 25%;
    height:100%;
    float: left;
    border-style: inset;
    cursor: pointer;
    background-color: white;
}
.tabContainer .buttons button:hover{
    background-color: #d7d4d4;
}
.tabContainer .page{
    height: 300%;
    background-color:grey;
    text-align: center;
    box-sizing: border-box;
}









.page h2#quote{
    font-style: italic;
    background-color: white;
    margin-top: 150px;
    margin-bottom: 150px;
}
.page section#aboutMe div{
    float: left;
    
}


.page section#aboutMe div img{
    width: 77%;
    margin-left: -23%;
}
.page section#aboutMe div#leftmost{
    text-align: left;
    margin-left:20%;
    
    width:25%;
    padding:5%;
    border-style: solid;
    line-height: 150%;
    background-color: white;
}
.page section#aboutMe div h3{
    text-align:center;
    font-size: 40px;
}
.page section#hookOnCoding{
    margin-top:50% ;
}
.page section#hookOnCoding h3#hookOnCoding{
    font-weight: bold;
    font-size: 40px;
}
.page section#hookOnCoding p#hookOnCoding {
    text-align: left;
    margin: auto;
    width: 60%;
    padding: 10px;
    border-style:solid;
    background-color: white;
}
.page section#Languages div#leftmost{
    margin-left: 30%;
}
.page section#Languages div{
    
    float:left;
    width:10%;
    margin-bottom: 10%;
    

}




.page h2#travelIntro {
    padding-top: 15%;
    padding-bottom: 10%;
    margin-top: 15%;
    margin-bottom: 7.5%;
    width: 17%;
    margin: auto;
}

.page .Australia h2#Heading {
    font-size: 40px;
    margin: auto;

}
.page .Australia h3#Heading{
    margin: -.5%;
    padding-top: 0%;
}
.page .imagesAustralia{
    margin-left: 5%;
    margin-bottom: 65%;
}
.page .imagesAustralia img{
    float:left;
    width: 25%;
    margin-top: 5%;
    padding-left: 5%;
    
    
}

.page div.Britain h2#Heading {
    font-size: 40px;
    margin:auto;
    padding-top: 5%;
    

}
.page .imagesBritain{
    margin-left: 5%;
}
.page div.Britain h3#Heading{
    margin: -.5%;
    padding-top: 0%;
}
.page .imagesBritain img{
    float:left;
    width: 25%;
    margin-top: 5%;
    padding-left: 5%;
    margin-bottom:5%;
}

.page h2#hobbieInfo{
    padding-top: 15%;
    padding-bottom: 10%;
    margin-top: 15%;
    
    width: 45%;
    margin: auto;
    

}
.page section#Lifting div{
    float: left;
    
}
.page section#Lifting {
    margin-bottom: 28%;
}
.page #leftmost h2{
    font-size: 40px;
    text-align: center;
}

.page section div#leftmost {
    margin-left: 5%;
    width:45%;
    background-color: white;
    border-style: solid;
    padding-left: 2%;
    padding-right: 2%;
    
}
.page section#Lifting div#images{
    width:45%;
    
}
.page section#Lifting div#images img{
    float: left;
    width: 32.3%;
    

}
.page section#Lifting div#images img#leftmost{
    margin-left:10%;
    
    border-bottom: solid;
}
.page #leftmost p{
    text-align: left;
}

.page .knifeThrowing{
    margin:auto;
    width:45%;
    background-color: white;
    border-style: solid;
    padding-left: 2%;
    padding-right: 2%;

}
.page .knifeThrowing p{
    text-align: left;
}
.page .knifeThrowing h2{
    font-size: 40px;
    text-align: center;
}
.page h2#content{
    font-size: 50px;

}
.page img#collection{
    margin-top:5%;
    width: 75%;
    
}
.page .content img{
    width:28%;
    padding: 2%;
    float:left;

}
.page .content{
    margin-left: 4%;
    margin-bottom:50%;
}
.page .videoContent{
    margin-left: 1%;
    margin-bottom:5%;
}
.page .videoContent video{
    float:left;
    padding-left: 5%;
    padding-bottom: 5%;
}
