body {
    background: grey;
    text-align: center;
}
h3#section{
    font-weight: bold;
    font-size: 56px;
}
h2#quote{
    font-style: italic;
    margin-top: 150px;
    margin-bottom: 150px;
}
p#hookOnCoding {
    padding: 10px;
    border-style:solid;
    background-color: white;
}
