body {
    background: grey;
    text-align: center;
}
.tabContainer{
    width:100%;
    height: 350px;;
}
.tabContainer .buttons{
    height: 15%;
}
.tabContainer .buttons button{
    width: 25%;
    height:100%;
    float: left;
    border-style: inset;
    cursor: pointer;
    background-color: white;
}
.tabContainer .buttons button:hover{
    background-color: #d7d4d4;
}
.tabContainer .page{
    height: 85%;
    background-color:grey;
    text-align: center;
    box-sizing: border-box;
}









.page h2#quote{
    font-style: italic;
    background-color: white;
    margin-top: 150px;
    margin-bottom: 150px;
}
.page section#aboutMe div{
    float: left;
    
}


.page section#aboutMe div img{
    width: 77%;
    margin-left: -23%;
}
.page section#aboutMe div#leftmost{
    text-align: left;
    margin-left:20%;
    
    width:25%;
    padding:5%;
    border-style: solid;
    line-height: 150%;
    background-color: white;
}
.page section#aboutMe div h3{
    text-align:center;
    font-size: 40px;
}
.page section#hookOnCoding{
    margin-top:50% ;
}
.page section#hookOnCoding h3#hookOnCoding{
    font-weight: bold;
    font-size: 40px;
}
.page section#hookOnCoding p#hookOnCoding {
    text-align: left;
    margin: auto;
    width: 60%;
    padding: 10px;
    border-style:solid;
    background-color: white;
}
.page section#Languages div#leftmost{
    margin-left: 30%;
}
.page section#Languages div{
    
    float:left;
    width:10%;
    margin-bottom: 10%;

}
